/* HTML, Body, Scrollbar */
html,
body,
#react-root {
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Dosis", sans-serif;
}
/* Image */
img {
  display: inline-block;
  max-width: 100%;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

/* More scrollbar */
:-webkit-scrollbar {
  display: none;
}

/* Background image - fixed and transparent overlay */
.background::before {
  content: "";
  background-image: url("./background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -10;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

/* Alert CSS */
.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* Input */
input {
  margin: 5px;
  margin-bottom: 10px;
}
